body{
    background-image: url(../files/corona.jpg);
    background-size: cover;
    background-color: #333333aa;
    color: #eeeeee;
}



p {  
  font-size: 1.6em;
  font-family: 'Montserrat', sans-serif;
}


h1{
    font-family: 'Montez', cursive;
    font-size: 5em;
    margin: 2em 0 1em;
}

main #container{
    width: 100%;
}

section#description{
    background-color: #4841A4aa;
    padding: 2em 0;
    backdrop-filter: blur(1em);
}

button{
    font-family: 'Montserrat', sans-serif;
    width: 40%;
}

a{
    text-decoration: none;
}

@media only screen and (orientation: portrait) {
    h1{
        margin-top: 30%;
        font-size: 6em;
    }
    p{
        font-size: 2em;
    }
    section#description{
        padding: 4em 0;
    }
    button{
        width: 80%;
        font-size: 4em;
    }

    
    
}