html{
    text-size-adjust: none;
}

main #container{
    width: 90%;
    margin: 0 auto;
}

body {
    text-align: center;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
}

h1{
    font-size: 2em;
    margin: 0;

}


main section#titulo{
    font-size: 2em;
}

main section#questao{
    font-size: 1.6em;
}

header{
    color: #eeeeee;
    background-color: #2244aa;
    padding: 2em;
    box-shadow: 0px 4px 16px 4px #333333aa;
}

img {
    width: 90%;
}

button {
    font-size: 1.4em;
    border: none;
    background-color: #dddddd;
    border-radius: 1em;
    display: block;
    width: 80%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0.2em auto;
    box-shadow: 0px 4px 16px 4px #33333344;
}

button:hover{
    box-shadow: none;
}